<!--安全事件 弹窗-->
<div class="pops-box">
    <div class="pops-content">
        <div class="pops-h1">事件内容</div>
        <ul class="pops-list-two">
            <li><b>事件处理：</b><span id="$elementId$_lblEventLevel" data-id="$elementId$_lblEventLevel"></span></li>
            <!--<li><b>风险等级：</b><span id="$elementId$_lblRiskLevel" data-id="$elementId$_lblRiskLevel"></span></li>-->
            <li><b>事件类别：</b><span id="$elementId$_lblEventType" data-id="$elementId$_lblEventType"></span></li>
            <li><b>设备名称：</b><span id="$elementId$_lblEventName" data-id="$elementId$_lblEventName"></span></li>
            <li><b>设备地址：</b><span id="$elementId$_lblEventAddr" data-id="$elementId$_lblEventAddr"></span></li>
            <li><b>发生日期：</b><span id="$elementId$_lblEventDate" data-id="$elementId$_lblEventDate"></span></li>
            <li><b>发生时间：</b><span id="$elementId$_lblEventTime" data-id="$elementId$_lblEventTime"></span></li>
            <li><b>事件描述：</b><span id="$elementId$_lblEventDescription" data-id="$elementId$_lblEventDescription"></span></li>
        </ul>
    </div>
</div>
<!--安全事件 弹窗-->
