<!--调试信息收集  begin-->
<div class="row-setting">
    <div class="row-setting-title">
        调试信息收集
        <button type="button" class="btn btn-primary btn-sm pull-right" id="$elementId$_btnDebugExport" data-id="$elementId$_btnDebugExport">
            <i class="fa fa-upload"></i>导出
        </button>
        <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-right:10px;" id="$elementId$_btnDebugRecovery" data-id="$elementId$_btnDebugRecovery">
            <i class="fa fa-folder-open"></i>收集
        </button>
    </div>
    <div class="setinfor-list">
        <ul>
            <li>最近收集时间: <span id="$elementId$_lblDebugDatetime" data-id="$elementId$_lblDebugDatetime">无</span></li>
            <li>收集结果: <span id="$elementId$_lblDebugResult" data-id="$elementId$_lblDebugResult">失败</span></li>
            <li>收集目录: <span id="$elementId$_lblDebugFolder" data-id="$elementId$_lblDebugFolder">无</span></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!--调试信息收集  end-->