<div class="enevt_details">
    <div class="popup_txt">
        <ul class="ev_txt">
            <li>协议类型：<span id="$elementId$_lblProtocol" data-id="$elementId$_lblProtocol"></span></li>
            <li>起始时间：<span id="$elementId$_lblDatetime" data-id="$elementId$_lblDatetime"></span></li>
            <li>IP地址：<span id="$elementId$_lblIP" data-id="$elementId$_lblIP"></span></li>
            <li>端口：<span id="$elementId$_lblPort" data-id="$elementId$_lblPort"></span></li>
            <li style="width:80%;">MAC地址：<span id="$elementId$_lblMac" data-id="$elementId$_lblMac"></span></li>
        </ul>
        <hr />
        <div class="tabdiv">
            <label>设置解压密码: </label>
            <input type="password" class="inputip" data-id="$elementId$_session_txtExtraPwd" id="$elementId$_session_txtExtraPwd" />
            <button class="but button-down" data-id="$elementId$_session_btnDownload" id="$elementId$_session_btnDownload">下载</button>
        </div>
    </div>
</div>
