<div class="headerbg">
</div>
<link rel="stylesheet" type="text/css" href="/static/themes/skin/kea-u1142/css/style.css">
<div class="logo">
    <div class="cion-logo">
        <img src="/static/themes/skin/kea-u1142/images/logo2.png">
    </div>
</div>
<div class="systemtime pull-left">
    <p>系统时间：</p>
    <p id="spanSystemTime" data-id="spanSystemTime"></p>
</div>
<div class="pro_title">工控安全审计平台</div>
<ul class="userinfor">
    <!--<li class="h-seperate"><i id="configStatus" data-id="configStatus" class="fa fa-floppy-o" title="存在未保存的配置项"></i></li>-->
    <li class="h-seperate"><i id="dbStatus" data-id="dbStatus" class="fa fa-database" title="数据库正常"></i></li>
    <li class="h-seperate">您好，<span id="main_lblUserName" data-id="main_lblUserName"></span> <i class="fa fa-user"></i></li>
    <li class="out-system h-seperate"><i class="fa fa-sign-out" title="退出系统"></i></li>
    <li class="licensebtn"><i class="fa fa-list-alt aboutus"></i>关于</li>
</ul>
<div class="license_info">
    <div class="info_cont">
        <p>公司名称：北京天地和兴科技有限公司</p>
        <p>产品名称：工控安全审计平台</p>
        <p>程序版本：<b id="sysSoftware" style="font-weight: normal"></b></p>
        <p>公司电话：400-810-8981</p>
        <p>公司网址：www.tdhxkj.com</p>
        <p>帮助文档<span class="downloadbtn">用户手册</span></p>
    </div>
</div>
