<!--<div class="logo">
    <div class="cion-logo">
        <img src="/static/themes/skin/kea-u1142/images/logo1.png">
    </div>
</div>-->
<ul class="nav-list">
    <li>
        <span class="nav-title active" onclick="javascript: View.getInstance().init('HOME_DASHBOARD', '系统总览')">
            <i class="fa fa-tachometer"></i>系统总览
        </span>
    </li>
    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('EVENT_LIST', '安全事件')">
            <i class="fa fa-bar-chart"></i>安全事件
        </span>
    </li>

    <li>
        <span class="nav-title">
            <i class="fa fa-list"></i>规则管理<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('RULE_WHITELIST', '规则学习')"><i
                        class="fa fa-circle-o"></i>规则学习</li>
                <li onclick="javascript: View.getInstance().init('RULE_BLACKLIST', '漏洞库')"><i
                        class="fa fa-circle-o"></i>漏洞库</li>
                <li onclick="javascript: View.getInstance().init('RULE_MAC', 'IP/MAC')"><i
                        class="fa fa-circle-o"></i>IP/MAC</li>
                <li onclick="javascript: View.getInstance().init('RULE_MACFILTER', 'MAC_FILTER')"><i
                        class="fa fa-circle-o"></i>MAC地址过滤</li>
            </ul>
        </div>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-gavel"></i>协议审计<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('PROTOCOL_LIST', '协议列表')"><i
                        class="fa fa-circle-o"></i>审计信息</li>
                <li onclick="javascript: View.getInstance().init('RULE_AUDITSTRATEGYLIST', '审计策略')"><i
                        class="fa fa-circle-o"></i>审计策略</li>
                <!-- <li onclick="javascript: View.getInstance().init('CUSTOM_PROTO', '自定义协议')"><i
                        class="fa fa-circle-o"></i>自定义协议配置</li> -->
                <li onclick="javascript: View.getInstance().init('PROTO_TPL', '协议模板配置')"><i
                        class="fa fa-circle-o"></i>自定义协议配置</li>
            </ul>
        </div>
    </li>
    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('BEHAVIOR_LIST', '行为审计')">
            <i class="fa fa-crosshairs"></i>行为审计
        </span>
    </li>
    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('FLOW_LIST', '流量监控')">
            <i class="fa fa-area-chart"></i>流量监控
        </span>
    </li>

    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('LOG_LIST', '日志信息')">
            <i class="fa fa-file-text-o"></i>设备日志
        </span>
    </li>
    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('COLLECT_LIST', '采集查询')">
            <i class="fa fa-list-alt"></i>日志采集
        </span>
        <!--<div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('COLLECT_LIST', '采集查询')"><i class="fa fa-circle-o"></i>采集信息查询</li>
                <li onclick="javascript: View.getInstance().init('COLLECT_CONF', '采集配置')"><i class="fa fa-circle-o"></i>采集网口配置</li>
            </ul>
        </div>-->
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-sitemap"></i>资产管理<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('NETTOPO_LIST', '终端设备管理')"><i class="fa fa-circle-o"></i>终端设备管理</li>
                <li onclick="javascript: View.getInstance().init('SWITCH_LIST', '交换机管理')"><i class="fa fa-circle-o"></i>交换机管理</li>
            </ul>
        </div>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-clipboard"></i>报告管理<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('REPORT_EVENT', '事件')"><i class="fa fa-circle-o"></i>事件报告</li>
                <li onclick="javascript: View.getInstance().init('REPORT_LOG', '日志')"><i class="fa fa-circle-o"></i>日志报告</li>
                <li onclick="javascript: View.getInstance().init('REPORT_AUDIT', '审计')"><i class="fa fa-circle-o"></i>审计报告</li>
                <li onclick="javascript: View.getInstance().init('REPORT_ASSET', '资产')"><i class="fa fa-circle-o"></i>资产报告</li>
            </ul>
        </div>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-cogs"></i>系统管理<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('LISENCE_RIGHT', 'lisence授权')"><i class="fa fa-circle-o"></i>授权许可</li>
                <li onclick="javascript: View.getInstance().init('DEVICE_LIST', '设备配置')"><i class="fa fa-circle-o"></i>设备配置</li>
                <li onclick="javascript: View.getInstance().init('SYSTEM_LIST', '系统配置')"><i class="fa fa-circle-o"></i>系统配置</li>
                <li onclick="javascript: View.getInstance().init('SYSTEM_DEBUG', '系统调试')"><i class="fa fa-circle-o"></i>系统调试</li>
                <li onclick="javascript: View.getInstance().init('USER_EDIT', '用户配置')"><i class="fa fa-circle-o"></i>用户配置</li>
            </ul>
        </div>
    </li>
</ul>