<!--<div class="logo">
    <div class="cion-logo">
        <img src="/static/themes/skin/kea-u1142/images/logo1.png">
    </div>
</div>-->
<ul class="nav-list">
    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('LOG_LIST', '日志信息')">
            <i class="fa fa-file-text-o"></i>设备日志
        </span>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-clipboard"></i>报告管理<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('REPORT_LOG', '日志')"><i class="fa fa-circle-o"></i>日志报告</li>
            </ul>
        </div>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-cogs"></i>系统管理<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('USER_EDIT', '用户配置')"><i class="fa fa-circle-o"></i>用户配置</li>
            </ul>
        </div>
    </li>
</ul>