<link rel="stylesheet" type="text/css" href="/static/themes/skin/kea-u1000/css/style.css">
<div class="systemtime pull-left">
    <p>系统时间：</p>
    <p id="spanSystemTime" data-id="spanSystemTime"></p>
</div>
<ul class="userinfor">
    <li class="h-seperate"><i id="configStatus" data-id="configStatus" class="fa fa-floppy-o" title="存在未保存的配置项"></i></li>
    <li class="h-seperate"><i id="dbStatus" data-id="dbStatus" class="fa fa-database" title="数据库正常"></i></li>
    <li class="h-seperate">您好：<span id="main_lblUserName" data-id="main_lblUserName"></span> <i class="fa fa-user"></i></li>
    <li class="out-system"><i class="fa fa-sign-out" title="退出系统"></i></li>
</ul>
