<div class="logo">
    <div class="cion-logo">
        <img src="/static/themes/skin/kea-u1000/images/logo.png">
    </div>
</div>
<ul class="nav-list">
    <li>
        <span class="nav-title active" onclick="javascript: View.getInstance().init('HOME_DASHBOARD', '系统状态')">
            <i class="fa fa-tachometer"></i>系统状态
        </span>
    </li>
    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('EVENT_LIST', '事件信息')">
            <i class="fa fa-bar-chart"></i>事件信息
        </span>
    </li>
    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('LOG_LIST', '日志信息')">
            <i class="fa fa-file-text-o"></i>日志信息
        </span>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-list"></i>规则管理<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('RULE_WHITELIST', '白名单')"><i class="fa fa-circle-o"></i>白名单</li>
                <li onclick="javascript: View.getInstance().init('RULE_BLACKLIST', '黑名单')"><i class="fa fa-circle-o"></i>黑名单</li>
                <li onclick="javascript: View.getInstance().init('RULE_MAC', 'IP/MAC')"><i class="fa fa-circle-o"></i>IP/MAC</li>
            </ul>
        </div>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-pie-chart"></i>安全审计<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('PROTOCOL_LIST', '协议审计')"><i class="fa fa-circle-o"></i>协议审计</li>
                <li onclick="javascript: View.getInstance().init('FLOW_LIST', '流量审计')"><i class="fa fa-circle-o"></i>流量审计</li>
            </ul>
        </div>
    </li>
    <li>
        <span class="nav-title" onclick="javascript: View.getInstance().init('NETTOPO_LIST', '网络拓扑')">
            <i class="fa fa-sitemap"></i>网络拓扑
        </span>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-clipboard"></i>报告生成<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('REPORT_EVENT', '事件')"><i class="fa fa-circle-o"></i>事件</li>
                <li onclick="javascript: View.getInstance().init('REPORT_LOG', '日志')"><i class="fa fa-circle-o"></i>日志</li>
                <li onclick="javascript: View.getInstance().init('REPORT_AUDIT', '审计')"><i class="fa fa-circle-o"></i>审计</li>
            </ul>
        </div>
    </li>
    <li>
        <span class="nav-title">
            <i class="fa fa-cogs"></i>系统管理<i class="fa fa-chevron-down pull-right chevron-down"></i>
        </span>
        <div class="second-nav">
            <ul class="second-nav-list">
                <li onclick="javascript: View.getInstance().init('DEVICE_LIST', '设备配置')"><i class="fa fa-circle-o"></i>设备配置</li>
                <li onclick="javascript: View.getInstance().init('SYSTEM_LIST', '系统配置')"><i class="fa fa-circle-o"></i>系统配置</li>
                <li onclick="javascript: View.getInstance().init('USER_EDIT', '用户配置')"><i class="fa fa-circle-o"></i>用户配置</li>
                <li onclick="javascript: View.getInstance().init('DIAGNOSIS_LIST', '诊断')"><i class="fa fa-circle-o"></i>诊断</li>
            </ul>
        </div>
    </li>
</ul>