<ul class="pagination pageheight">
    <li style="" class="ng-binding">总共<b class="page-number" data-id="$elementId$_lblTotal" id="$elementId$_lblTotal">0</b>个记录</li>
    <li style="" class="">转到 <input type="text" placeholder="0/0" data-id="$elementId$_txtPageNO" id="$elementId$_txtPageNO" /><a href="javascript:void(0);" class="pagination-goto" data-id="$elementId$_goPage" id="$elementId$_btnGoPage">GO</a></li>
    <li class="pagination-prev-a"><a href="javascript:void(0);" data-id="$elementId$_btnPrevPage" id="$elementId$_btnPrevPage"><i class="fa fa-play fa-rotate-180"></i></a></li>
    <li class="pagination-page active"><a href="javascript:void(0);" class="ng-binding" data-id="$elementId$_lblCurrentPage" id="$elementId$_lblCurrentPage">1</a></li>
    <li class="pagination-next"><a href="javascript:void(0);" data-id="$elementId$_btnNextPage" id="$elementId$_btnNextPage"><i class="fa fa-play"></i></a></li>
</ul>
