<div class="row">
    <div class="row-cutbox">
        <ul>
            <li class="active" data-id="$elementId$_totalOperationLog">操作日志 (<span class="evnumber" id="$elementId$_totalOperationLog">0</span>)</li>
            <li data-id="$elementId$_totalSystemLog">系统日志 (<span class="evnumber" id="$elementId$_totalSystemLog">0</span>)</li>
        </ul>
    </div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_operationLogHolder" id="$elementId$_operationLogHolder">
    </div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_systemLogHolder" id="$elementId$_systemLogHolder">
    </div>
</div>