<div class="stable-toolbar row button-box">
    <button type="button" class="btn btn-info btn-sm" data-id="$elementId$_btnAddFinger" id="$elementId$_btnAddFinger">
        <i class="fa fa-plus"></i>新增
    </button>
    <button type="button" class="btn btn-info btn-sm" data-id="$elementId$_btnRemove" id="$elementId$_btnRemove">
        <i class="fa fa-trash-o"></i>删除
    </button>
</div>
<div class="row-table-box">
    <table class="table table-hover table-striped topotable" data-id="$elementId$_tdFingerList" id="$elementId$_tdFingerList">
        <thead>
        <tr>
            <th class="th-check" style="width:80px">
                <input type="checkbox" class="chinput" id="$elementId$_selectAll">
                <label for="$elementId$_selectAll" ></label>全选
            </th>
            <th>更新时间</th>
            <th>指纹名称</th>
            <th>厂商信息</th>
            <th>设备类型</th>
            <th>设备型号</th>
            <th style="width:280px">操作</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="row pagination-custom">
    <div class="text-right col-xs-12" data-id="$elementId$_pagerContent" id="$elementId$_pagerContent"></div>
</div>