<div class="row">
    <div class="row-cutbox">
        <ul>
            <li class="active" data-id="$elementId$_topograph" id="$elementId$_topograph">拓扑信息</li>
            <li data-id="$elementId$_assetlist" id="$elementId$_assetlist">资产列表</li>
            <li data-id="$elementId$_fingerprint" id="$elementId$_fingerprint">设备指纹配置</li>
        </ul>
    </div>
    <div class="row-cutcontent" style="display:none;padding: 5px 15px 5px 20px;" data-id="$elementId$_topographHolder" id="$elementId$_topographHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_assetlistHolder" id="$elementId$_assetlistHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_fingerprintHolder" id="$elementId$_fingerprintHolder"></div>
</div>