<div class="row">
    <div class="row-cutbox">
        <ul>
            <li class="active" data-id="$elementId$_switchall" id="$elementId$_switchall">交换机列表</li>
            <li data-id="$elementId$_switchinfo" id="$elementId$_switchinfo">交换机信息</li>
        </ul>
    </div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_switchallHolder" id="$elementId$_switchallHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_switchinfoHolder" id="$elementId$_switchinfoHolder"></div>
</div>

