<div class="stable-toolbar row button-box">
    <div>
        <!--<label>MAC地址</label>-->
        <input class="form-control input-feedback" type="text" data-id="$elementId$_txtMacSearch" id="$elementId$_txtMacSearch" placeholder="MAC地址" style="max-width:300px;display:inline-block;">
        <button type="button" class="btn btn-primary" data-id="$elementId$__btnSearch" id="$elementId$_btnSearch" style="position:absolute;margin-left:10px;">
            <i class="fa fa-search"></i>搜索
        </button>
    </div>
</div>
<div class="row-table-box">
    <table class="table table-hover table-striped" data-id="$elementId$_tdRuleList" id="$elementId$_tdRuleList">
        <thead>
        <tr>
            <th style="width:100px;">序号</th>
            <th>交换机</th>
            <th>端口</th>
            <th>位置</th>
            <th>MAC地址</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="row pagination-custom">
    <div class="text-right col-xs-12" data-id="$elementId$_pagerContent" id="$elementId$_pagerContent"></div>
</div>