<div style="width:100%;overflow-x:hidden;height:100%;">
    <div class="row" id="topo_detail" style="height:100%;">
        <div class="row-cutbox" style="margin-top:0px;">
            <ul>
                <li class="active" data-id="$elementId$_commstate" id="$elementId$_commstate">资产关系</li>
                <li data-id="$elementId$_ruledetail" id="$elementId$_ruledetail">规则详情</li>
                <li data-id="$elementId$_safeevts" id="$elementId$_safeevts">安全事件</li>
                <li data-id="$elementId$_hisflowinfo" id="$elementId$_hisflowinfo">历史流量</li>
                <li data-id="$elementId$_curflowinfo" id="$elementId$_curflowinfo">实时流量</li>
                <li data-id="$elementId$_auditinfo" id="$elementId$_auditinfo">审计图表</li>
            </ul>
        </div>
        <div class="row-cutcontent topostatus" style="position:relative;padding: 5px 20px;height:94%;"
            data-id="$elementId$_commstateHolder" id="$elementId$_commstateHolder">
            <div class="col-md-9" style="height:100%;width:calc(100% - 300px)"></div>
            <ul class="col-md-3" style="height:100%;border-left:1px solid #666;width: 300px">
                <li><span>资产名称：<i></i></span><span></span></li>
                <li><span>IP地址：<i></i></span><span></span></li>
                <li><span>MAC地址：<i></i></span><span></span></li>
                <li><span>设备类型：<i></i></span><span style="word-break: break-all;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 160px;vertical-align: bottom;"></span></li>
                <li><span>设备型号：<i></i></span><span></span></li>
                <li><span>接入状态：<i></i></span><span></span></li>
                <li><span>厂商信息：<i></i></span><span></span></li>
                <li><span style="vertical-align: top;width:270px">所在交换机信息(交换机名#端口#位置)：<i></i></span><span></span></li>
                <li><span>资产描述：<i></i></span><span></span></li>
            </ul>
        </div>
        <div class="row-cutcontent" style="display:none;padding: 5px 30px;" data-id="$elementId$_ruledetailHolder"
            id="$elementId$_ruledetailHolder">
            <div class="row-table-box">
                <table class="table table-hover table-striped" data-id="$elementId$_tdWhitelistList"
                    id="$elementId$_tdWhitelistList">
                    <thead>
                        <tr>
                            <th class="w-50">序号</th>
                            <th>规则名称</th>
                            <th>规则内容</th>
                            <th>协议</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row pagination-custom">
                <div class="text-right col-xs-12" id="ruleList_pagerContent"></div>
            </div>
        </div>
        <div class="row-cutcontent" style="display:none;padding: 5px 30px;" data-id="$elementId$_safeevtsHolder"
            id="$elementId$_safeevtsHolder">
            <div class="row-table-box">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>源设备名</th>
                            <th>目的设备名</th>
                            <th>源地址</th>
                            <th>目的地址</th>
                            <th>协议</th>
                            <th>事件处理</th>
                            <th>事件来源</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row pagination-custom">
                <div class="text-right col-xs-12" id="evtList_pagerContent"></div>
            </div>
        </div>
        <div class="row-cutcontent" style="display:none;padding: 5px 30px;" data-id="$elementId$_hisflowinfoHolder"
            id="$elementId$_hisflowinfoHolder">
            <div class="pops-content">
                <div class="row row-flowport-box">
                    <select class="form-control chart-flow" id="$elementId$_ddlTime2">
                        <option value="1">最近一小时</option>
                        <option value="24">最近一天</option>
                        <option value="168">最近一周</option>
                    </select>
                    <br />
                    <div style="height:90%; width:70%" data-id="$elementId$_divPieChart" id="$elementId$_divPieChart">
                    </div>
                </div>
                <div class="row-table-box">
                    <table class="table table-hover table-striped" id="$elementId$_tdFlowList">
                    </table>
                </div>
                <div class="row pagination-custom">
                    <div class="text-right col-xs-12" id="hisflowList_pagerContent">

                    </div>
                </div>
            </div>
        </div>
        <div class="row-cutcontent" style="display:none;padding: 5px 30px;" data-id="$elementId$_curflowinfoHolder"
            id="$elementId$_curflowinfoHolder">
            <!-- <div class="pops-content">
                <div style="height:340px;width:100%;" data-id="$elementId$_divLineChart" id="$elementId$_divLineChart">
                </div>
            </div> -->
            <div style="font-style:italic;font-weight:bold;">预定义协议流量：</div>
            <div class="pops-content">
                <div style="height:340px;width:100%;" data-id="$elementId$_divLineChart" id="$elementId$_divLineChart">
                </div>
            </div>
            <div style="font-style:italic;font-weight:bold;">自定义协议流量：</div>
            <div class="pops-content">
                <div style="height:340px;width:100%;" data-id="$elementId$_cusDivLineChart"
                    id="$elementId$_cusDivLineChart"></div>
            </div>
        </div>
        <div class="row-cutcontent" style="display:none;padding: 5px 30px;" data-id="$elementId$_auditinfoHolder"
            id="$elementId$_auditinfoHolder">
            <div style="height:40%;">
                <div id="device_category_chart"></div>
            </div>
            <div style="height:40%;">
                <div id="protocol_category_chart"></div>
            </div>
            <!--<div class="row-table-box">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>起始时间</th>
                        <th>设备名</th>
                        <th>IP地址</th>
                        <th>MAC地址</th>
                        <th>端口</th>
                        <th>协议</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row pagination-custom">
                <div class="text-right col-xs-12" id="auditList_pagerContent"></div>
            </div>-->
        </div>
    </div>
</div>