<!--系统配置  begin-->
<div class="row">
    <div class="row-cutbox">
        <ul>
            <li class="active" data-id="$elementId$_tabReset">系统重置</li>
            <li data-id="$elementId$_tabUpgrade">系统升级</li>
            <!--<li data-id="$elementId$_tabBackup">配置备份</li>-->
            <li data-id="$elementId$_tabManagers">集中管理平台</li>
            <li data-id="$elementId$_tabIptype">IPV6功能开关</li>
            <li data-id="$elementId$_tabLogCollect">日志采集配置</li>
            <li data-id="$elementId$_tabSyslog">syslog服务器配置</li>
            <li data-id="$elementId$_tabSwitch">告警开关</li>
            <li data-id="$elementId$_tabConfexport">配置导入导出</li>
        </ul>
    </div>
    <div class="row-cutcontent" data-id="$elementId$_resetHolder" id="$elementId$_resetHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_upgradeHolder" id="$elementId$_upgradeHolder"></div>
    <!--<div class="row-cutcontent" style="display:none;" data-id="$elementId$_backupHolder" id="$elementId$_backupHolder">
    </div>-->
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_backupHolder" id="$elementId$_managersHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_iptypeHolder" id="$elementId$_iptypeHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_syslogHolder" id="$elementId$_syslogHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_switchHolder" id="$elementId$_switchHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_logCollectHolder" id="$elementId$_logCollectHolder"></div>
    <div class="row-cutcontent" style="display:none;" data-id="$elementId$_confexportHolder" id="$elementId$_confexportHolder"></div>
    </div>
</div>
<!--系统配置  end-->
