<!--集中管理平台  begin-->
<!--<div class="row-setting">
    <div class="row-setting-title">
        平台选择
        &lt;!&ndash;<button type="button" class="btn btn-primary btn-sm pull-right" data-id="$elementId$_btnManaul" id="$elementId$_btnManaul">
            <i class="fa fa-cog"></i>手动备份
        </button>&ndash;&gt;
    </div>
    <div class="setinfor-list">
        <ul>
            <li>
                平台选择:
                <span class="btn-on-box">
                    <input type="checkbox" class="btn-on" name="$elementId$_rabAutoBackup" id="$elementId$_rabAutoBackup" />
                    <label for="$elementId$_rabAutoBackup"></label>
                </span>
                <small class="fontcolor-backup">(每周一零点开始自动备份)</small>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<hr />-->
<div class="row-setting">
    <div class="row-setting-title">
        天地和兴安管平台
        <button type="button" class="btn btn-primary btn-sm pull-right" data-id="$elementId$_btnManaul" id="$elementId$_btnConnectDevice">
            <i class="fa fa-link"></i>保&nbsp;&nbsp;存
        </button>
    </div>
    <div class="">
        <ul class="platform">
            <li><span>注册状态：</span><span id="$elementId$_connectStatus">未连接</span></li>
            <li style="margin-right: 40px;">服务器IP：<input type="text" id="$elementId$_serverIp" value="" placeholder="请输入IP地址"/><span>服务器端口：</span><input type="text" value="" id="$elementId$_serverPort" placeholder="请输入端口"/><button class="btn btn-primary" id="$elementId$_btnTestStatus">测试状态</button></li>
            <li style="position:relative;"><span>启　　用：</span><input type="checkbox" id="launch_monitor"/><label for="launch_monitor" class="lau1"></label></li>
            <li class="movedown10" id="$elementId$_testTip"><span style="color:red;">* 请输入有效的IP地址与端口再试</span></span></li>
        </ul>     
        <!--<button type="button" class="btn btn-danger btn-sm" id="$elementId$_btnDelete" data-id="$elementId$_btnDelete">
            <i class="fa fa-trash-o"></i>删除
        </button>
        <small class="small-backup">
            <i class="fa fa-info-circle"></i>备份文件最多只保留5个，更早的文件会被自动删除.
        </small>
        <div class="row-table-box">
            <table class="table table-hover table-striped" id="$elementId$_tdBackupList" data-id="$elementId$_tdBackupList">
                <thead>
                <tr>
                    <th><input type="checkbox" data-type="allchecked" /></th>
                    <th>最近备份时间</th>
                    <th>备份文件</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>-->
    </div>
</div>
<!--集中管理平台  end-->