<!--系统重置  begin-->
<div class="row-setting">
    <div class="row-setting-title">
        系统重置
    </div>
    <div class="setinfor-list">
        <button type="button" class="btn btn-primary" id="$elementId$_btnRebootDevice" data-id="$elementId$_btnRebootDevice">
            <i class="fa fa-undo"></i>重启设备
        </button>
        <button type="button" class="btn btn-primary" id="$elementId$_btnResetDevice" data-id="$elementId$_btnResetDevice">
            <i class="fa fa-wrench"></i>恢复出厂设置
        </button>
    </div>
</div>
<!--系统重置  end-->