<div class="row-setting">
    <div class="row-setting-title">
        流量告警开关
        <button type="button" class="btn btn-primary btn-sm pull-right" id="$elementId$_btnFlowSwitch" data-id="$elementId$_btnFlowSwitch">
            <i class="fa fa-cog"></i>设置
        </button>
    </div>
    <div class="setinfor-list">
        <ul>
            <li>
                流量告警开关控制:
                <span class="btn-on-box">
                    <input type="checkbox" class="btn-on" name="$elementId$_rabFlow" id="$elementId$_rabFlow" />
                    <label for="$elementId$_rabFlow"></label>
                </span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<hr>
<div class="row-setting">
    <div class="row-setting-title">
        资产告警周期
        <button type="button" class="btn btn-primary btn-sm pull-right" id="$elementId$_btnDevSwitch" data-id="$elementId$_btnDevSwitch">
            <i class="fa fa-cog"></i>设置
        </button>
    </div>
    <div class="setinfor-list">
        <ul>
            <li class="clearfloat">
                <span>资产告警检测时间周期:</span>
                <input style="width:110px;" type="number" class="setinfor-input" placeholder="范围：1-60" id="$elementId$_devChecktime" data-id="$elementId$_devChecktime" max="60" min="1"/>
                分钟
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>