<div class="row-setting">
    <div class="row-setting-title">
        syslog服务器配置
        <button type="button" class="btn btn-primary btn-sm pull-right" data-id="$elementId$_btnSyslogSave" id="$elementId$_btnSyslogSave">
            <i class="fa fa-link"></i>保&nbsp;&nbsp;存
        </button>
    </div>
    <div class="">
        <ul class="platform">
            <li style="margin-right: 40px;">服务器IP：<input type="text" id="$elementId$_syslogIp" value="" placeholder="请输入IP地址"/><span>服务器端口：</span><input type="text" value="" id="$elementId$_syslogPort" placeholder="请输入端口"/><!--<button class="btn btn-primary" id="$elementId$_btnTestStatus">测试状态</button>--></li>
            <li style="position:relative;"><span>启　　用：</span><input type="checkbox" id="enable_switch"/><label for="enable_switch" class="lau1"></label></li>
            <li class="movedown10" id="$elementId$_syslogTip"><span style="color:red;">* 请输入有效的IP地址与端口再试</span></span></li>
        </ul>
    </div>
</div>